html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: #ccc url("/img/main-bg.jpg") no-repeat bottom;
    min-height: 100%;
}


form {
    padding: 20px;
    margin: 60px;
}

form button, form h5 {
    margin: 20px 0;
}


.card {
    background-color: #fff;
    padding: 5%;
    margin: 5%;
    min-height: 30vh;
}

