html {
    min-height: 100%;
}

body {
    /*background-image: url("/img/main-bg.jpg");*/
    /*min-height: 100vh;*/
    /*min-width: 100vw;*/
    /*overflow: hidden;*/
    /*background-size: cover;*/
    /*background-position: top right;*/
    background-color: #F46036;
    overflow-y: auto;
    min-width: 400px;
}




.card {
    background-color: #fff;
    padding: 30px;
    margin: 5%;
    min-height: 30vh;
    box-shadow: 2px 2px 1px 1px grey;
}

.grey-text {
    color: #686868;
}

.grey-text h5{
    font-weight: bold;
}

input[type=email] ,
input[type=password],
input[type=text] {
    border-radius: 5%;
    padding: 1%;
}

.btn-submit {
    float: right;
}

label {
    padding-top: 1%;
}
